@import '../../css/abstracts';

.section {
  padding-top: spacing('large');
  padding-bottom: spacing('large');
}

.container {
  @include container;
}

@include media(">=large") {
  .section {
    padding-top: spacing('xlarge');
    padding-bottom: spacing('xlarge');
  }
}
